CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/DAOService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://daoService.ws.cms.soa.team/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://daoService.ws.cms.soa.team/" name="DAOService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/studentXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/stuEnrolXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/prerequestXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/classXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://daoService.ws.cms.soa.team/" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=5"/>
</xsd:schema>
</types>
<message name="getClassInfo">
<part name="parameters" element="tns:getClassInfo"/>
</message>
<message name="getClassInfoResponse">
<part name="parameters" element="tns:getClassInfoResponse"/>
</message>
<message name="insertStudentEnrollment">
<part name="parameters" element="tns:insertStudentEnrollment"/>
</message>
<message name="insertStudentEnrollmentResponse">
<part name="parameters" element="tns:insertStudentEnrollmentResponse"/>
</message>
<message name="getStudentInfo">
<part name="parameters" element="tns:getStudentInfo"/>
</message>
<message name="getStudentInfoResponse">
<part name="parameters" element="tns:getStudentInfoResponse"/>
</message>
<message name="updateClassInfo">
<part name="parameters" element="tns:updateClassInfo"/>
</message>
<message name="updateClassInfoResponse">
<part name="parameters" element="tns:updateClassInfoResponse"/>
</message>
<message name="getStudentEnrollment">
<part name="parameters" element="tns:getStudentEnrollment"/>
</message>
<message name="getStudentEnrollmentResponse">
<part name="parameters" element="tns:getStudentEnrollmentResponse"/>
</message>
<message name="cgetClassPrerequisite">
<part name="parameters" element="tns:cgetClassPrerequisite"/>
</message>
<message name="cgetClassPrerequisiteResponse">
<part name="parameters" element="tns:cgetClassPrerequisiteResponse"/>
</message>
<portType name="DAOService">
<operation name="getClassInfo">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getClassInfoRequest" message="tns:getClassInfo"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getClassInfoResponse" message="tns:getClassInfoResponse"/>
</operation>
<operation name="insertStudentEnrollment">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/insertStudentEnrollmentRequest" message="tns:insertStudentEnrollment"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/insertStudentEnrollmentResponse" message="tns:insertStudentEnrollmentResponse"/>
</operation>
<operation name="getStudentInfo">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getStudentInfoRequest" message="tns:getStudentInfo"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getStudentInfoResponse" message="tns:getStudentInfoResponse"/>
</operation>
<operation name="updateClassInfo">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/updateClassInfoRequest" message="tns:updateClassInfo"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/updateClassInfoResponse" message="tns:updateClassInfoResponse"/>
</operation>
<operation name="getStudentEnrollment">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getStudentEnrollmentRequest" message="tns:getStudentEnrollment"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/getStudentEnrollmentResponse" message="tns:getStudentEnrollmentResponse"/>
</operation>
<operation name="cgetClassPrerequisite">
<input wsam:Action="http://daoService.ws.cms.soa.team/DAOService/cgetClassPrerequisiteRequest" message="tns:cgetClassPrerequisite"/>
<output wsam:Action="http://daoService.ws.cms.soa.team/DAOService/cgetClassPrerequisiteResponse" message="tns:cgetClassPrerequisiteResponse"/>
</operation>
</portType>
<binding name="DAOServicePortBinding" type="tns:DAOService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClassInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertStudentEnrollment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateClassInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudentEnrollment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cgetClassPrerequisite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DAOService">
<port name="DAOServicePort" binding="tns:DAOServicePortBinding">
<soap:address location="http://localhost:8080/CourseManagementSystem/DAOService"/>
</port>
</service>
</definitions>