CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/DAOService.xsd_5.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/facultyXmlSchema">

<xs:complexType name="faculty">
<xs:sequence>
<xs:element name="facid" type="xs:string"/>
<xs:element name="facname" type="xs:string"/>
<xs:element name="facstatus" type="xs:string"/>
<xs:element name="facemail" type="xs:string"/>
<xs:element name="faccell" type="xs:string"/>
<xs:element name="facdepart" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>