CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/DAOService.xsd_8.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://daoService.ws.cms.soa.team/" xmlns:ns7="http://xml.netbeans.org/schema/stuEnrolXmlSchema" xmlns:ns6="http://xml.netbeans.org/schema/courseXmlSchema" xmlns:ns5="http://xml.netbeans.org/schema/permissionXmlSchema" xmlns:ns4="http://xml.netbeans.org/schema/facultyXmlSchema" xmlns:ns3="http://xml.netbeans.org/schema/studentXmlSchema" xmlns:ns2="http://xml.netbeans.org/schema/prerequestXmlSchema" xmlns:ns1="http://xml.netbeans.org/schema/classXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://daoService.ws.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/classXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=7"/>

<xs:import namespace="http://xml.netbeans.org/schema/prerequestXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=3"/>

<xs:import namespace="http://xml.netbeans.org/schema/studentXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=1"/>

<xs:import namespace="http://xml.netbeans.org/schema/facultyXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=5"/>

<xs:import namespace="http://xml.netbeans.org/schema/permissionXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=4"/>

<xs:import namespace="http://xml.netbeans.org/schema/courseXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=6"/>

<xs:import namespace="http://xml.netbeans.org/schema/stuEnrolXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/DAOService?xsd=2"/>

<xs:element name="InsertPerms" type="tns:InsertPerms"/>

<xs:element name="InsertPermsResponse" type="tns:InsertPermsResponse"/>

<xs:element name="cgetClassPrerequisite" type="tns:cgetClassPrerequisite"/>

<xs:element name="cgetClassPrerequisiteResponse" type="tns:cgetClassPrerequisiteResponse"/>

<xs:element name="dropEnrolledClass" type="tns:dropEnrolledClass"/>

<xs:element name="dropEnrolledClassResponse" type="tns:dropEnrolledClassResponse"/>

<xs:element name="firstStudentInWaitlist" type="tns:firstStudentInWaitlist"/>

<xs:element name="firstStudentInWaitlistResponse" type="tns:firstStudentInWaitlistResponse"/>

<xs:element name="getAllClasses" type="tns:getAllClasses"/>

<xs:element name="getAllClassesResponse" type="tns:getAllClassesResponse"/>

<xs:element name="getAllCourses" type="tns:getAllCourses"/>

<xs:element name="getAllCoursesResponse" type="tns:getAllCoursesResponse"/>

<xs:element name="getClassInfo" type="tns:getClassInfo"/>

<xs:element name="getClassInfoResponse" type="tns:getClassInfoResponse"/>

<xs:element name="getFacultyEmail" type="tns:getFacultyEmail"/>

<xs:element name="getFacultyEmailResponse" type="tns:getFacultyEmailResponse"/>

<xs:element name="getFacultyInfo" type="tns:getFacultyInfo"/>

<xs:element name="getFacultyInfoResponse" type="tns:getFacultyInfoResponse"/>

<xs:element name="getOnePermissionInfo" type="tns:getOnePermissionInfo"/>

<xs:element name="getOnePermissionInfoResponse" type="tns:getOnePermissionInfoResponse"/>

<xs:element name="getStudentEnrollment" type="tns:getStudentEnrollment"/>

<xs:element name="getStudentEnrollmentRecord" type="tns:getStudentEnrollmentRecord"/>

<xs:element name="getStudentEnrollmentRecordResponse" type="tns:getStudentEnrollmentRecordResponse"/>

<xs:element name="getStudentEnrollmentResponse" type="tns:getStudentEnrollmentResponse"/>

<xs:element name="getStudentInfo" type="tns:getStudentInfo"/>

<xs:element name="getStudentInfoResponse" type="tns:getStudentInfoResponse"/>

<xs:element name="insertStudentEnrollment" type="tns:insertStudentEnrollment"/>

<xs:element name="insertStudentEnrollmentResponse" type="tns:insertStudentEnrollmentResponse"/>

<xs:element name="insertStudentEnrollmentWithStatus" type="tns:insertStudentEnrollmentWithStatus"/>

<xs:element name="insertStudentEnrollmentWithStatusResponse" type="tns:insertStudentEnrollmentWithStatusResponse"/>

<xs:element name="transferFromStuClassInfoToPermissionResult" type="tns:transferFromStuClassInfoToPermissionResult"/>

<xs:element name="transferFromStuClassInfoToPermissionResultResponse" type="tns:transferFromStuClassInfoToPermissionResultResponse"/>

<xs:element name="updateClassInfo" type="tns:updateClassInfo"/>

<xs:element name="updateClassInfoResponse" type="tns:updateClassInfoResponse"/>

<xs:element name="updateStuEnroll" type="tns:updateStuEnroll"/>

<xs:element name="updateStuEnrollResponse" type="tns:updateStuEnrollResponse"/>

<xs:complexType name="updateClassInfo">
<xs:sequence>
<xs:element name="Class_ID" type="xs:int"/>
<xs:element name="Cls" type="ns1:class" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateClassInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cgetClassPrerequisite">
<xs:sequence>
<xs:element name="Class_ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cgetClassPrerequisiteResponse">
<xs:sequence>
<xs:element name="return" type="ns2:prerequestment" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllClasses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllClassesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:class" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="firstStudentInWaitlist">
<xs:sequence>
<xs:element name="classID" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="firstStudentInWaitlistResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="classid" type="xs:string" form="qualified"/>
<xs:element name="courseid" type="xs:string" form="qualified"/>
<xs:element name="grade" type="xs:string" form="qualified"/>
<xs:element name="score" type="xs:float" form="qualified"/>
<xs:element name="status" type="xs:string" form="qualified"/>
<xs:element name="stuenrolltime" type="xs:dateTime" form="qualified"/>
<xs:element name="stuenrollid" type="xs:string" form="qualified"/>
<xs:element name="stuid" type="xs:string" form="qualified"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacultyEmail">
<xs:sequence>
<xs:element name="Class_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacultyEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentInfo">
<xs:sequence>
<xs:element name="Stu_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentInfoResponse">
<xs:sequence>
<xs:element name="return" type="ns3:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentEnrollment">
<xs:sequence>
<xs:element name="Student_ID" type="xs:string" minOccurs="0"/>
<xs:element name="Class_ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentEnrollmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacultyInfo">
<xs:sequence>
<xs:element name="Fac_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFacultyInfoResponse">
<xs:sequence>
<xs:element name="return" type="ns4:faculty" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentEnrollmentWithStatus">
<xs:sequence>
<xs:element name="Student_ID" type="xs:string" minOccurs="0"/>
<xs:element name="Class_ID" type="xs:string" minOccurs="0"/>
<xs:element name="Status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertStudentEnrollmentWithStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOnePermissionInfo">
<xs:sequence>
<xs:element name="permission_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOnePermissionInfoResponse">
<xs:sequence>
<xs:element name="return" type="ns5:permission" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dropEnrolledClass">
<xs:sequence>
<xs:element name="courseid" type="xs:int"/>
<xs:element name="studentid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dropEnrolledClassResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateStuEnroll">
<xs:sequence>
<xs:element name="student_ID" type="xs:int"/>
<xs:element name="class_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStuEnrollResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCourses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCoursesResponse">
<xs:sequence>
<xs:element name="return" type="ns6:course" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassInfo">
<xs:sequence>
<xs:element name="Class_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClassInfoResponse">
<xs:sequence>
<xs:element name="return" type="ns1:class" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentEnrollmentRecord">
<xs:sequence>
<xs:element name="studentid" type="xs:int"/>
<xs:element name="courseid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentEnrollmentRecordResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="classid" type="xs:string" form="qualified"/>
<xs:element name="courseid" type="xs:string" form="qualified"/>
<xs:element name="grade" type="xs:string" form="qualified"/>
<xs:element name="score" type="xs:float" form="qualified"/>
<xs:element name="status" type="xs:string" form="qualified"/>
<xs:element name="stuenrolltime" type="xs:dateTime" form="qualified"/>
<xs:element name="stuenrollid" type="xs:string" form="qualified"/>
<xs:element name="stuid" type="xs:string" form="qualified"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentEnrollment">
<xs:sequence>
<xs:element name="Student_ID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentEnrollmentResponse">
<xs:sequence>
<xs:element name="return" type="ns7:stuEnrollList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertPerms">
<xs:sequence>
<xs:element name="permResultSerialObject" type="tns:permissionresultSerialObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="permissionresultSerialObj">
<xs:sequence>
<xs:element name="classinfoserial" type="tns:classinfoSerialObj" minOccurs="0"/>
<xs:element name="facinfoserial" type="tns:facultyinfoSerialObj" minOccurs="0"/>
<xs:element name="stuinfoserial" type="tns:studentinfoSerialObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classinfoSerialObj">
<xs:sequence>
<xs:element name="classid" type="xs:string" minOccurs="0"/>
<xs:element name="courseid" type="xs:string" minOccurs="0"/>
<xs:element name="coursename" type="xs:string" minOccurs="0"/>
<xs:element name="opensemester" type="xs:string" minOccurs="0"/>
<xs:element name="regresult" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="facultyinfoSerialObj">
<xs:sequence>
<xs:element name="facemail" type="xs:string" minOccurs="0"/>
<xs:element name="facid" type="xs:string" minOccurs="0"/>
<xs:element name="facname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentinfoSerialObj">
<xs:sequence>
<xs:element name="stuemail" type="xs:string" minOccurs="0"/>
<xs:element name="stuid" type="xs:string" minOccurs="0"/>
<xs:element name="stuname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertPermsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferFromStuClassInfoToPermissionResult">
<xs:sequence>
<xs:element name="stuClassInfoMQSerialObj" type="tns:stuClassInfoMQSerialObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stuClassInfoMQSerialObj">
<xs:sequence>
<xs:element name="classInfo" type="tns:classInfoOfMessageSerialObj" minOccurs="0"/>
<xs:element name="studentInfo" type="tns:studentInfoOfMessageSerialObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classInfoOfMessageSerialObj">
<xs:sequence>
<xs:element name="canTake" type="xs:boolean"/>
<xs:element name="classid" type="xs:string" minOccurs="0"/>
<xs:element name="classstatus" type="xs:string" minOccurs="0"/>
<xs:element name="classvalid" type="xs:boolean"/>
<xs:element name="prereqClasses" type="tns:classPrereqOfMessageSerialObj" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classPrereqOfMessageSerialObj">
<xs:sequence>
<xs:element name="classid" type="xs:string" minOccurs="0"/>
<xs:element name="courseid" type="xs:string" minOccurs="0"/>
<xs:element name="grade" type="xs:string" minOccurs="0"/>
<xs:element name="reqMet" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentInfoOfMessageSerialObj">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="stuid" type="xs:string" minOccurs="0"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferFromStuClassInfoToPermissionResultResponse">
<xs:sequence>
<xs:element name="return" type="tns:permissionresultSerialObj" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>