CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/PermsReqMsgService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://msgQueueService.cms.soa.team/" xmlns:ns1="http://xml.netbeans.org/schema/stuclassmessageXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://msgQueueService.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/stuclassmessageXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/PermsReqMsgService?xsd=1"/>

<xs:element name="getPermsInfo" type="tns:getPermsInfo"/>

<xs:element name="getPermsInfoResponse" type="tns:getPermsInfoResponse"/>

<xs:element name="setPermsInfo" type="tns:setPermsInfo"/>

<xs:element name="setPermsInfoResponse" type="tns:setPermsInfoResponse"/>

<xs:complexType name="setPermsInfo">
<xs:sequence>
<xs:element name="PermsID" type="xs:string" minOccurs="0"/>
<xs:element name="facultyMail" type="xs:string" minOccurs="0"/>
<xs:element name="stuclassInfo" type="ns1:stuclassmessage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPermsInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPermsInfo">
<xs:sequence>
<xs:element name="PermsID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPermsInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:stuClassInfoMQSerialObj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stuClassInfoMQSerialObj">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:string" minOccurs="0"/>
<xs:element name="cell" type="xs:string" minOccurs="0"/>
<xs:element name="concentration" type="xs:string" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="major" type="xs:string" minOccurs="0"/>
<xs:element name="requestclasslist" type="tns:requestclassinfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="stuemail" type="xs:string" minOccurs="0"/>
<xs:element name="stuid" type="xs:int"/>
<xs:element name="stuname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestclassinfo">
<xs:sequence>
<xs:element name="classid" type="xs:int"/>
<xs:element name="courseid" type="xs:string" minOccurs="0"/>
<xs:element name="coursename" type="xs:string" minOccurs="0"/>
<xs:element name="currsize" type="xs:int"/>
<xs:element name="curwaitlist" type="xs:int"/>
<xs:element name="facultyid" type="xs:int"/>
<xs:element name="facultyname" type="xs:string" minOccurs="0"/>
<xs:element name="maxsize" type="xs:int"/>
<xs:element name="maxwaitlist" type="xs:int"/>
<xs:element name="opensemester" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>