CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/PermsConfmMsgService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://msgQueueService.cms.soa.team/" xmlns:ns1="http://xml.netbeans.org/schema/stuclassmessageXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://msgQueueService.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/stuclassmessageXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/PermsConfmMsgService?xsd=1"/>

<xs:element name="setMsgListener" type="tns:setMsgListener"/>

<xs:element name="setMsgListenerResponse" type="tns:setMsgListenerResponse"/>

<xs:element name="setPermsConfirm" type="tns:setPermsConfirm"/>

<xs:element name="setPermsConfirmResponse" type="tns:setPermsConfirmResponse"/>

<xs:complexType name="setMsgListener">
<xs:sequence>
<xs:element name="PermsID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMsgListenerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPermsConfirm">
<xs:sequence>
<xs:element name="PermsID" type="xs:string" minOccurs="0"/>
<xs:element name="studentMail" type="xs:string" minOccurs="0"/>
<xs:element name="stuclassInfo" type="ns1:stuclassmessage" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setPermsConfirmResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>