CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/PrereqMeetService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://basicCheck.ws.cms.soa.team/" xmlns:ns1="http://xml.netbeans.org/schema/studentPrereqCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://basicCheck.ws.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/studentPrereqCheck" schemaLocation="http://localhost:8080/CourseManagementSystem/PrereqMeetService?xsd=1"/>

<xs:element name="studentMeetsPrereq" type="tns:studentMeetsPrereq"/>

<xs:element name="studentMeetsPrereqResponse" type="tns:studentMeetsPrereqResponse"/>

<xs:complexType name="studentMeetsPrereq">
<xs:sequence>
<xs:element name="Stu_ID" type="xs:int"/>
<xs:element name="Class_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentMeetsPrereqResponse">
<xs:sequence>
<xs:element name="return" type="ns1:studentClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>