CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/RegCheckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/studentRegCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/studentRegCheck">

<xs:complexType name="StuRegCheckInfo">
<xs:sequence>
<xs:element name="studentInfo" type="tns:studentInformation"/>
<xs:element name="clazzInfo" type="tns:classList"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentInformation">
<xs:sequence>
<xs:element name="studentid" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classList">
<xs:sequence>
<xs:element name="clazz" type="tns:classInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classInfo">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="classvalid" type="xs:boolean"/>
<xs:element name="classstatus" type="xs:string"/>
<xs:element name="canTake" type="xs:boolean"/>
<xs:element name="prereqClasses" type="tns:classPrereq" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classPrereq">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="courseid" type="xs:string"/>
<xs:element name="grade" type="xs:string"/>
<xs:element name="reqMet" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>