CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/RegCheckService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/studentRegCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/studentRegCheck">

<xs:complexType name="StuRegCheckInfo">
<xs:sequence>
<xs:element name="studentInfo" type="tns:studentInformation"/>
<xs:element name="clazzInfo" type="tns:classList"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentInformation">
<xs:sequence>
<xs:element name="studentid" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classList">
<xs:sequence>
<xs:element name="clazz" type="tns:classInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classInfo">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="classvalid" type="xs:boolean"/>
<xs:element name="classstatus" type="xs:string"/>
<xs:element name="canTake" type="xs:boolean"/>
<xs:element name="permid" type="xs:string"/>
<xs:element name="facultyEmail" type="xs:string"/>
<xs:element name="PrereqClasses" type="tns:ClassPrereq" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassPrereq">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="courseid" type="xs:string"/>
<xs:element name="grade" type="xs:string"/>
<xs:element name="reqMet" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>