CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/StudentEnrollmentService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/classXmlSchema">

<xs:complexType name="class">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="cosid" type="xs:string"/>
<xs:element name="maxsize" type="xs:int"/>
<xs:element name="maxwaitlist" type="xs:int"/>
<xs:element name="cursize" type="xs:int"/>
<xs:element name="curwaitlist" type="xs:int"/>
<xs:element name="opensemid" type="xs:string"/>
<xs:element name="facultyname" type="xs:string"/>
<xs:element name="semname" type="xs:string"/>
<xs:element name="startdate" type="xs:date"/>
<xs:element name="enddate" type="xs:date"/>
<xs:element name="adddropdate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:schema>