CourseManagementClient/web/WEB-INF/wsdl/localhost_8080/CourseManagementSystem/StudentValidService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://basicCheck.ws.cms.soa.team/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://basicCheck.ws.cms.soa.team/">

<xs:element name="studentIsValid" type="tns:studentIsValid"/>

<xs:element name="studentIsValidResponse" type="tns:studentIsValidResponse"/>

<xs:complexType name="studentIsValid">
<xs:sequence>
<xs:element name="Stu_ID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentIsValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>