CourseManagementClient/src/conf/xml-resources/web-service-references/PermsConfmMsgService/wsdl/localhost_8080/CourseManagementSystem/PermsConfmMsgService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/stuclassmessageXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/stuclassmessageXmlSchema">

<xs:complexType name="stuclassmessage">
<xs:sequence>
<xs:element name="studentinfo">
<xs:complexType>
<xs:sequence>
<xs:element name="stuid" type="xs:string"/>
<xs:element name="stuname" type="xs:string"/>
<xs:element name="stuemail" type="xs:string"/>
<xs:element name="department" type="xs:string"/>
<xs:element name="major" type="xs:string"/>
<xs:element name="concentration" type="xs:string"/>
<xs:element name="birthday" type="xs:date"/>
<xs:element name="address" type="xs:string"/>
<xs:element name="cell" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RequestClass">
<xs:complexType>
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="classvalid" type="xs:boolean"/>
<xs:element name="classstatus" type="xs:string"/>
<xs:element name="canTake" type="xs:boolean"/>
<xs:element name="permid" type="xs:string"/>
<xs:element name="PrereqClasses" type="tns:ClassPrereq" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassPrereq">
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="courseid" type="xs:string"/>
<xs:element name="grade" type="xs:string"/>
<xs:element name="reqMet" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>