CourseManagementSystem/src/conf/xml-resources/jaxb/dropClassInput/dropClassInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/dropClassInput"
    xmlns:tns="http://xml.netbeans.org/schema/dropClassInput"
    elementFormDefault="qualified">
    <xsd:complexType name="inputClasses">
        <xsd:sequence>
            <xsd:element name="studentid" type="xsd:int"></xsd:element>
            <xsd:element name="courseid" type="xsd:int" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
