CourseManagementClient/src/conf/xml-resources/web-service-references/RegCheckService/wsdl/localhost_8080/CourseManagementSystem/RegCheckService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cms.soa.team/" xmlns:ns1="http://xml.netbeans.org/schema/studentRegCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/studentRegCheck" schemaLocation="http://localhost:8080/CourseManagementSystem/RegCheckService?xsd=1"/>

<xs:element name="checkStudentRegistration" type="tns:checkStudentRegistration"/>

<xs:element name="checkStudentRegistrationResponse" type="tns:checkStudentRegistrationResponse"/>

<xs:complexType name="checkStudentRegistration">
<xs:sequence>
<xs:element name="Stu_ID" type="xs:int"/>
<xs:element name="Class_ID_List" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStudentRegistrationResponse">
<xs:sequence>
<xs:element name="return" type="ns1:StuRegCheckInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>