CourseManagementClient/src/conf/xml-resources/web-service-references/RegCheckService/wsdl/localhost_8080/CourseManagementSystem/RegCheckService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cms.soa.team/" xmlns:ns1="http://xml.netbeans.org/schema/studentRegCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/studentRegCheck" schemaLocation="http://localhost:8080/CourseManagementSystem/RegCheckService?xsd=1"/>

<xs:element name="checkStudentRegistration" type="tns:checkStudentRegistration"/>

<xs:element name="checkStudentRegistrationResponse" type="tns:checkStudentRegistrationResponse"/>

<xs:complexType name="checkStudentRegistration">
<xs:sequence>
<xs:element name="Stu_ID" type="xs:int"/>
<xs:element name="Class_ID_List" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Premission_Code_List" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStudentRegistrationResponse">
<xs:sequence>
<xs:element name="return" type="ns1:StuRegCheckInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>