CourseManagementClient/src/conf/xml-resources/web-service-references/StudentEnrollmentService/wsdl/localhost_8080/CourseManagementSystem/StudentEnrollmentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cms.soa.team/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cms.soa.team/" name="StudentEnrollmentService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/stuEnrolXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/StudentEnrollmentService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/courseXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/StudentEnrollmentService?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/classXmlSchema" schemaLocation="http://localhost:8080/CourseManagementSystem/StudentEnrollmentService?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ws.cms.soa.team/" schemaLocation="http://localhost:8080/CourseManagementSystem/StudentEnrollmentService?xsd=4"/>
</xsd:schema>
</types>
<message name="getStudentEnrollList">
<part name="parameters" element="tns:getStudentEnrollList"/>
</message>
<message name="getStudentEnrollListResponse">
<part name="parameters" element="tns:getStudentEnrollListResponse"/>
</message>
<message name="getAllCourses">
<part name="parameters" element="tns:getAllCourses"/>
</message>
<message name="getAllCoursesResponse">
<part name="parameters" element="tns:getAllCoursesResponse"/>
</message>
<message name="getAllClasses">
<part name="parameters" element="tns:getAllClasses"/>
</message>
<message name="getAllClassesResponse">
<part name="parameters" element="tns:getAllClassesResponse"/>
</message>
<portType name="StudentEnrollmentService">
<operation name="getStudentEnrollList">
<input wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getStudentEnrollListRequest" message="tns:getStudentEnrollList"/>
<output wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getStudentEnrollListResponse" message="tns:getStudentEnrollListResponse"/>
</operation>
<operation name="getAllCourses">
<input wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getAllCoursesRequest" message="tns:getAllCourses"/>
<output wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
</operation>
<operation name="getAllClasses">
<input wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getAllClassesRequest" message="tns:getAllClasses"/>
<output wsam:Action="http://ws.cms.soa.team/StudentEnrollmentService/getAllClassesResponse" message="tns:getAllClassesResponse"/>
</operation>
</portType>
<binding name="StudentEnrollmentServicePortBinding" type="tns:StudentEnrollmentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudentEnrollList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCourses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentEnrollmentService">
<port name="StudentEnrollmentServicePort" binding="tns:StudentEnrollmentServicePortBinding">
<soap:address location="http://localhost:8080/CourseManagementSystem/StudentEnrollmentService"/>
</port>
</service>
</definitions>