CourseManagementClient/src/conf/xml-resources/web-service-references/MailService/wsdl/localhost_8080/CourseManagementSystem/MailService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mail.cms.soa.team/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mail.cms.soa.team/" name="MailService">
<types>
<xsd:schema>
<xsd:import namespace="http://mail.cms.soa.team/" schemaLocation="http://localhost:8080/CourseManagementSystem/MailService?xsd=1"/>
</xsd:schema>
</types>
<message name="PermsRequest">
<part name="parameters" element="tns:PermsRequest"/>
</message>
<message name="PermsRequestResponse">
<part name="parameters" element="tns:PermsRequestResponse"/>
</message>
<message name="PermsConfirm">
<part name="parameters" element="tns:PermsConfirm"/>
</message>
<message name="PermsConfirmResponse">
<part name="parameters" element="tns:PermsConfirmResponse"/>
</message>
<message name="DropConfirm">
<part name="parameters" element="tns:DropConfirm"/>
</message>
<message name="DropConfirmResponse">
<part name="parameters" element="tns:DropConfirmResponse"/>
</message>
<portType name="MailService">
<operation name="PermsRequest">
<input wsam:Action="http://mail.cms.soa.team/MailService/PermsRequestRequest" message="tns:PermsRequest"/>
<output wsam:Action="http://mail.cms.soa.team/MailService/PermsRequestResponse" message="tns:PermsRequestResponse"/>
</operation>
<operation name="PermsConfirm">
<input wsam:Action="http://mail.cms.soa.team/MailService/PermsConfirmRequest" message="tns:PermsConfirm"/>
<output wsam:Action="http://mail.cms.soa.team/MailService/PermsConfirmResponse" message="tns:PermsConfirmResponse"/>
</operation>
<operation name="DropConfirm">
<input wsam:Action="http://mail.cms.soa.team/MailService/DropConfirmRequest" message="tns:DropConfirm"/>
<output wsam:Action="http://mail.cms.soa.team/MailService/DropConfirmResponse" message="tns:DropConfirmResponse"/>
</operation>
</portType>
<binding name="MailServicePortBinding" type="tns:MailService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="PermsRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PermsConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DropConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MailService">
<port name="MailServicePort" binding="tns:MailServicePortBinding">
<soap:address location="http://localhost:8080/CourseManagementSystem/MailService"/>
</port>
</service>
</definitions>