CourseManagementClient/src/conf/xml-resources/web-service-references/MailService/wsdl/localhost_8080/CourseManagementSystem/MailService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://mail.cms.soa.team/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mail.cms.soa.team/">

<xs:element name="DropConfirm" type="tns:DropConfirm"/>

<xs:element name="DropConfirmResponse" type="tns:DropConfirmResponse"/>

<xs:element name="PermsConfirm" type="tns:PermsConfirm"/>

<xs:element name="PermsConfirmResponse" type="tns:PermsConfirmResponse"/>

<xs:element name="PermsRequest" type="tns:PermsRequest"/>

<xs:element name="PermsRequestResponse" type="tns:PermsRequestResponse"/>

<xs:complexType name="DropConfirm">
<xs:sequence>
<xs:element name="StudentEmail" type="xs:string" minOccurs="0"/>
<xs:element name="PermsContent" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DropConfirmResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PermsConfirm">
<xs:sequence>
<xs:element name="StudentEmail" type="xs:string" minOccurs="0"/>
<xs:element name="PermsContent" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PermsConfirmResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PermsRequest">
<xs:sequence>
<xs:element name="PermsId" type="xs:string" minOccurs="0"/>
<xs:element name="FacultyEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PermsRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>