CourseManagementClient/src/conf/xml-resources/web-service-references/getWaitlist/wsdl/localhost_8080/CourseManagementSystem/getWaitlist.xsd_4.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cms.soa.team/" xmlns:ns3="http://xml.netbeans.org/schema/studentInWaitlist" xmlns:ns2="http://xml.netbeans.org/schema/checkDropClasses" xmlns:ns1="http://xml.netbeans.org/schema/dropClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cms.soa.team/">

<xs:import namespace="http://xml.netbeans.org/schema/dropClasses" schemaLocation="http://localhost:8080/CourseManagementSystem/getWaitlist?xsd=2"/>

<xs:import namespace="http://xml.netbeans.org/schema/checkDropClasses" schemaLocation="http://localhost:8080/CourseManagementSystem/getWaitlist?xsd=3"/>

<xs:import namespace="http://xml.netbeans.org/schema/studentInWaitlist" schemaLocation="http://localhost:8080/CourseManagementSystem/getWaitlist?xsd=1"/>

<xs:element name="operation" type="tns:operation"/>

<xs:element name="operationResponse" type="tns:operationResponse"/>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="droppedClassesInfo" type="ns1:dropStudentClasses" minOccurs="0"/>
<xs:element name="classes" type="ns2:checkClasses" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="ns3:waitlist" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>