CourseManagementSystem/src/java/team/soa/cms/xml/dropClassInput.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/dropClassInput"
    xmlns:tns="http://xml.netbeans.org/schema/dropClassInput"
    elementFormDefault="qualified">
    <xsd:complexType name="DropClassesInput">
        <xsd:sequence>
            <xsd:element name="studentid" type="xsd:int"></xsd:element>
            <xsd:element name ="classIds" type="xsd:int" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    
</xsd:schema>
