CourseManagementClient/src/conf/xml-resources/web-service-references/DAOService/wsdl/localhost_8080/CourseManagementSystem/DAOService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/stuEnrolXmlSchema">

<xs:complexType name="stuEnrollList">
<xs:sequence>
<xs:element name="oneenroll" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="classid" type="xs:string"/>
<xs:element name="courseid" type="xs:string"/>
<xs:element name="grade" type="xs:string"/>
<xs:element name="score" type="xs:float"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="stuenrolltime" type="xs:dateTime"/>
<xs:element name="stuenrollid" type="xs:string"/>
<xs:element name="stuid" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>