CourseManagementClient/src/conf/xml-resources/web-service-references/DAOService/wsdl/localhost_8080/CourseManagementSystem/DAOService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/prerequestXmlSchema">

<xs:complexType name="prerequestment">
<xs:sequence>
<xs:element name="onepre" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="courseid" type="xs:string"/>
<xs:element name="coursename" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>